body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  display: flex;
  height: 60px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  z-index: 100;


}
nav {
  display: flex;
  margin-left: 200px;
  padding-top: 15px;
}
input {
  height: 30px;
  margin-top: 12px;
  margin-right: 12px;
  padding-left: 10px;
  width: 220px;
}
header h1 {
  font-size: 2rem;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 70px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
#Introduction {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 50px;

}
.profile-pic-container {
  display: flex;
  justify-content: center;
}
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#name-intro, #role-intro {
  text-align: center;
  margin-top: 25px;
}
#role-intro {
  animation: animate 6s infinite;
  transition: 0.6s ease;
}
#about-intro {
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
}
.social-media-container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 40px;
}
.social-media-container .social-icon {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.icon-container {
  width: 40px;
}
.social-media-icon {
 width: 21px;
 height: 22px;
}
.aboutme-button-container {
 display: flex;
 justify-content: center;
 position: relative;
 margin-top: 40px;
 margin-bottom: 5%;
}
.aboutme-button {
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #8589A08F;

}

/* Hide the dropdown content by default */
.dropdown-content {
  position: absolute;
  bottom: -60px;
  background-color: #f9f9f9;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
}
.aboutme-button:hover {
  background-color: #1d9ce1;
  color: white;
}
/* Show the dropdown content when hovering over the button */
.aboutme-button-container:hover .dropdown-content {
  opacity: 1;
}

#posts {
  padding: 20px;
  background-color: #fff;
}
#posts-heading {
  margin-bottom: 20px;
}
#popular-stories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.stories {
  border: 1px solid #8589a038;
  padding: 20px;
  border-radius: 15px;
}
.stories:hover {
  cursor: pointer;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
}

.studytips-image {
  width: 100%;
  height: 273px;
  
}
.profile-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  justify-content: center;
  vertical-align: middle;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.authorandtime-container {
  padding-top: 16px;
  padding-left: 16px;
}

.blog-post {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }

}
@media (max-width: 600px) {
  header {
    margin-left: 8px;
    margin-right: 8px;
  }
  #popular-stories-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    width: 95%;
  }
  .firstsem-image,.studytips-image,.books-image,.tech-image {
    width: 100%;
  }

  nav {
    margin: 0;
    padding:0;
  }
  ul {
    margin-left: 0;
    padding: 0;
  }
  nav ul li {
    margin-right: 10px;
  }
  input {
    width: 70px;
    margin-right: 10px;
  }
  .dropdown-content {
    min-width: 10px;
    position: absolute;
    bottom: -108px;
    
  }
  .aboutme-button-container {
    width: 100%;
    margin-bottom: 70px;
    
  }
 
}

@media (min-width: 600px) and (max-width:768px) {
  header  {
    margin-left: 8px;
    margin-right: 8px;
  }
  #popular-stories-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    width: 100%;
  }
  .firstsem-image,.studytips-image,.books-image,.tech-image {
    width: 100%;
  }

  nav {
    margin: 0;
    padding:0;
  }
  ul {
    margin-left: 0;
    padding: 0;
  }
  nav ul li {
    margin-right: 10px;
  }
  input {
    width: 70px;
    margin-right: 10px;
  }
  .dropdown-content {
    min-width: 10px;
    position: absolute;
    bottom: -108px;
    
  }
  .aboutme-button-container {
    width: 100%;
    margin-bottom: 70px; 
  }
}
@media (min-width: 768px) and (max-width:992px) {
  header {
    margin-right: 8px;
    margin-left: 8px;
  }
  #popular-stories-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    width: 100%;
  }
  .firstsem-image,.studytips-image,.books-image,.tech-image {
    width: 100%;
  }

  nav {
    margin: 0;
    padding:0;
  }
  ul {
    margin-left: 0;
    padding: 0;
  }
  nav ul li {
    margin-right: 10px;
  }
  input {
    width: 70px;
    margin-right: 10px;
  }
  .dropdown-content {
    min-width: 10px;
    position: absolute;
    bottom: -108px;
    
  }
  .aboutme-button-container {
    width: 100%;
    margin-bottom: 70px;
    
  }
}
@media (min-width: 992px) and (max-width:1200px) {
  header {
    margin-left: 8px;
    margin-right: 8px;
  }
  #popular-stories-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    width: 95%;
  }
  .firstsem-image,.studytips-image,.books-image,.tech-image {
    width: 100%;
  }

  nav {
    margin: 0;
    padding:0;
  }
  ul {
    margin-left: 0;
    padding: 0;
  }
  nav ul li {
    margin-right: 10px;
  }
  input {
    width: 70px;
    margin-right: 10px;
  }
  .dropdown-content {
    min-width: 10px;
    position: absolute;
    bottom: -108px;
    
  }
  .aboutme-button-container {
    width: 100%;
    margin-bottom: 70px;
    
  }
}
@media (min-width: 1200px){

}
